body,html {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  margin-left: 10px;
  scroll-behavior: smooth;
}

#navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #78909C;
  color: #000;
  overflow-x: hidden;
  text-align: center;
  font-family: Viga;
  border-right: 3px solid #696969;
}

#navbar-title {
  font-family: 'Varela Round';
}

#main-doc {
  margin-left: 200px;
  padding: 0px 10px;
  font-size: 18px;
  font-family: 'Varela Round';
  color: #323232;
}

#nav-ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: color .3s;
}

.nav-link:hover {
  color: #fdfaeb;
}

.nav-li {
  padding: 15px;
  transition: background-color .3s;
}

.nav-li:hover {
  background-color: #0059b3;
}

.main-section h1 {
  font-size: 26px;
  font-family: 'Francois One';
  color: #000;
}

.main-section h2 {
  font-size: 18px;
}

.main-section li {
  padding-top: 5px;
}

code {
  display:block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #778899;
  color: #fdfaeb;
  border-radius:5px;
  font-size: 14px;
  padding:15px;
  margin:10px;
  transition-property: transform, box-shadow;
  transition-duration: .25s;
  transition-timing-function: linear;
}

code:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(33,33,33,.5);
}

.paragraph-box {
  padding: 10px 10px;
  border: 1px solid gray;
}

.syntax-example {
  display:block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  border: 1px solid black;
  border-radius:5px;
  padding-left: 10px;
  padding-right: 10px;
}

.li-hr {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 710px){
  body,html {
    margin: 0;
    padding: 0;
    background-color: #fdfaeb;
    scroll-behavior: smooth;
  }
  
  #navbar {
    display: inline-block;
    background-color: #778899;
    color: #000;
    text-align: center;
    font-family: Viga;
    border-right: 0;
    border-bottom: 3px solid #696969;
    width: 100%;
    overflow: visible;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  #main-doc {
    margin-left: 0px;
    padding: 0px 10px;
    font-size: 14px;
    font-family: 'Varela Round';
    color: #323232;
  }
  code {
    font-size: 12px;
  }
  #last-li {
    padding-bottom: 0;
  }
}
 
